<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>936851321381-hi9hbig6jnclcln8mpk270009rjt9c7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.936851321381-hi9hbig6jnclcln8mpk270009rjt9c7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJDMY1j4jwq96gASDuKOYLdbCQoBH2FA</string>
	<key>GCM_SENDER_ID</key>
	<string>936851321381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cliffordYin.PublicPlanner1</string>
	<key>PROJECT_ID</key>
	<string>public-planner-eb748</string>
	<key>STORAGE_BUCKET</key>
	<string>public-planner-eb748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:936851321381:ios:e281f12da23ec9fc</string>
	<key>DATABASE_URL</key>
	<string>https://public-planner-eb748.firebaseio.com</string>
</dict>
</plist>
